---
import Layout from '../layouts/Layout.astro';
import PuckRendererView from '../components/PuckRendererView';
import { getAllPuckPages } from '../lib/puck-data';
import type { PuckData } from '../lib/puck-data';

export const prerender = true;

export async function getStaticPaths() {
  const pages = await getAllPuckPages();

  return Object.entries(pages).map(([path, pageData]) => {
    const normalizedPath = path || '/';
    const slug =
      normalizedPath === '/'
        ? []
        : normalizedPath.replace(/^\//, '').split('/');

    return {
      params: { slug },
      props: {
        pageData,
        normalizedPath,
      },
    };
  });
}

const { pageData, normalizedPath } = Astro.props as {
  pageData: PuckData;
  normalizedPath: string;
};

const pageTitle =
  pageData?.root?.props?.title || normalizedPath.replace('/', '') || 'Page';
---

<Layout title={pageTitle}>
  <main class='page-content'>
    <div class='container'>
      <PuckRendererView data={pageData} />
    </div>
  </main>
</Layout>
