---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import CardAbout from '../components/CardAbout.astro';

const posts = Object.values(
  import.meta.glob('../posts/*.md', { eager: true }),
) as Array<{
  frontmatter: {
    slug: string;
    title: string;
    author: string;
    date: string;
    excerpt: string;
  };
  Content: any;
  url: string;
}>;
---

<Layout title='Astro Blog'>
  <Showcase heading='Astro Blog' text='A simple blog built with Astro' />
  <section class='page-content'>
    <div class='container'>
      {
        posts.map((post) => (
          <CardAbout>
            <h3>{post.frontmatter.title}</h3>
            <div>
              Written by <strong>{post.frontmatter.author}</strong> on{' '}
              {new Date(post.frontmatter.date).toLocaleDateString('es')}
            </div>
            <p>{post.frontmatter.excerpt}</p>
            <a href={`/${post.frontmatter.slug}`} class='btn'>
              Read More
            </a>
          </CardAbout>
        ))
      }
    </div>
  </section>
</Layout>
